{% extends "base_template.html" %} {% block title %} {% endblock %} {% block
content %}
<form
    action="{{ url_for('add_answer_page', question_id=question_id) }}"
    enctype="multipart/form-data"
    method="post"
>
    <label for="answer">Your answer:</label><br />
    <textarea id="answer" name="answer" rows="1" cols="60"></textarea><br />
    <label for="image"> Add image:</label><br />
    <input
        name="image"
        id="image"
        type="file"
        accept="image/*"
        alt="Add answer image"
    />
    <br />
    <button type="submit">ADD ANSWER</button>
</form>

{% endblock %}
